<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.tekarch.listeners.ListernerClass"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
	
      <class name="com.tekarch.apiTests.AddUser"/>
      <class name="com.tekarch.apiTests.GetUsers"/>
      <class name="com.tekarch.apiTests.UpdateUser"/>
      <class name="com.tekarch.apiTests.DeleteUser"/>
       <class name="com.tekarch.apiTests.loginTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
